* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  h1 {
    margin-bottom: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;

    .inputWrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;

      label {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        margin-bottom: 0.2rem;
      }

      input {
        height: 35px;
        padding-inline: 1rem;
        border: 1px solid #ccc;
        outline: none;
      }

      p{
        font-size: 11px;
        margin-top: 0.5rem;
        color: #777;
      }

    
    }
    button{
      background: #000;
      color: #fff;
      border: none;
      cursor: pointer;
      height: 35px;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px;
      margin-top: 1rem;
    }
  }

  .content{
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;

    h2{
      margin-bottom: 1rem;
    }

    .users{
   

      .user{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;

        p{
          font-size: 14px;
        }
      }

      .actionBtns{
        display: flex;
        align-items: center;
        gap: 1rem;

        button{
          color: #fff;
          background: red;
          padding:.3rem .5rem;
          margin-top: 0.3rem;
          cursor: pointer;
          border: 0;
          outline: 0;
          font-size: 13px;
        }
  
        .edit{
          background: rgb(0, 174, 255);
        }
      }
      
    }
  }
}
.roleContainer{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;

  p{
    font-size: 12px;
    color: #555;
  }
  .role{
    width: 32px;
    border-radius: 20px;
    background: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 1px;
    transition: .3s;
  
    &.reg{
      padding-left: 16px;
      background: #000;
    }
  
    .toggle{
      height: 13px;
      width: 13px;
      background: #000;
      border-radius: 50%;
      transition: .3s;

      &.reg{
        background: #ccc;
      }
  
    }
  }
  
}
